## Collect tweets with keyword "math" in them. Limited to only grab 300 tweets every 15 minutes

In [1]:
import tweepy
import pandas as pd
import time
import re

############### Connecting to the API ##############

twitter_keys = {
        'consumer_key':        'my_consumer_key',
        'consumer_secret':     'my_consumer_secret',
        'access_token_key':    'my_access_token_key',
        'access_token_secret': 'my_access_token_secret'
    }

In [2]:
#Setup access to API
auth = tweepy.OAuthHandler(twitter_keys['consumer_key'], twitter_keys['consumer_secret'])
auth.set_access_token(twitter_keys['access_token_key'], twitter_keys['access_token_secret'])

api = tweepy.API(auth)

In [3]:
# PULLING FROM THE TIMELINE
# Make call on home timeline, print each tweets text
public_tweets = api.home_timeline(count=10, tweet_mode='extended')
for tweet in public_tweets:
    print(tweet.full_text, '\n')

In [4]:
def text_query_to_df(text_query,count):
    try:
        # Creation of query method using parameters
        tweets = tweepy.Cursor(api.search, q=text_query, tweet_mode='extended').items(count)

        # Pulling information from tweets iterable object
        tweets_list = [[tweet.created_at, tweet.user.screen_name, tweet.user.location, 
                        tweet.id, tweet.favorite_count, tweet.retweet_count, 
                        tweet.full_text] for tweet in tweets]

        # Creation of dataframe from tweets list
        # Add or remove columns as you remove tweet information
        tweets_df = pd.DataFrame(tweets_list,
                                 columns=['datetime', 'username', 'location', 'tweet_id', 
                                          'num_favorites', 'num_retweets','text'])

    except BaseException as e:
        print('failed on_status,',str(e))
        time.sleep(3)
        
    return tweets_df

In [5]:
# Example: tweets about 'math'
text_query = 'Math'
count = 300
math_search = text_query_to_df(text_query, count)

In [16]:
math_search

,datetime,username,location,tweet_id,num_favorites,num_retweets,text
0,2020-11-02 00:36:03,kurage_Ref,Ê∑±Êµ∑,1323061272624033792,0,0,@math__like ÈÉΩÊ∞ë
1,2020-11-02 00:36:02,Live2teachLives,"Levelland, Texas, USA",1323061269927251968,0,0,@HamillHimself The Force of math is not with you.
2,2020-11-02 00:36:02,NotSuperIsTaken,Trying to get free bobux,1323061269000310784,0,0,@JorgeHe18983518 @Roblox what math? what game ...
3,2020-11-02 00:36:02,chayaelizabeth,bucky barnes‚Äôs AND zuko‚Äôs ass,1323061268861825025,0,0,never forget me in high school being a vegetar...
4,2020-11-02 00:36:02,Nashrambl_,she/they | ace |,1323061267687333888,0,0,Just got 55 on my math test love it here üòçüòçüòç /neg
...,...,...,...,...,...,...,...
295,2020-11-02 00:29:06,Adrianna_VEWT,"Los Angeles, CA",1323059525696524296,0,0,Are you looking for assignment help? We are ex...
296,2020-11-02 00:29:06,Spritznap,W/ Tommy and Tubbo,1323059522957680642,0,0,YO MY HONKIN COURSES CHANGED SO INSTEAD OF MAT...
297,2020-11-02 00:29:04,Crf_math,"S√£o Gon√ßalo, Brasil",1323059517563744257,0,29,RT @SlimShadyLM: Flamengo na alegria e putassa...
298,2020-11-02 00:29:04,desireamariee,"Massachusetts, USA",1323059514409734144,0,0,math class
299,2020-11-02 00:29:02,44rotting,„ÅÇ„Å™„ÅüÁÑ°„Åó„ÅßÁßÅ„ÅÆÂøÉ„ÇíÂ§±„ÅÜ‚ÄºÔ∏é,1323059507711401985,0,0,Im convinced my fucking math teacher hates me ...

In [17]:
for i in range(50):
    print(i, math_search['text'][i])

0 @math__like ÈÉΩÊ∞ë
1 @HamillHimself The Force of math is not with you.
2 @JorgeHe18983518 @Roblox what math? what game account?
3 never forget me in high school being a vegetarian and ordering a quarter pounder without a patty from a mcdonald‚Äôs on at a math club tournament
4 Just got 55 on my math test love it here üòçüòçüòç /neg
5 @streamtun_ I swear some ppl do not know simple math
6 Âº∑„Åè„Å™„Çâ„Çì„Å®„Å™
7 @cure_math Yeah, that's why I said "as if"
I know that it's incredibly poor representation, which it isn't to begin with except in our headcanons
8 @VCNGUI LMFAOOOO ‚Äúgood job, you know your math‚Äù
9 RT @spfcl3: Personne
Mon cerveau en math
10 RT @preshtalwalkar: Only 36% Solve The Cat In The Hat Puzzle

Video
https://t.co/J8shYi16fe

Post
https://t.co/GzjchkqmhX

#mindyourdecisio‚Ä¶
11 RT @ValaAfshar: The benefits of math and geometry https://t.co/X2vqYFa8HY
12 RT @ValaAfshar: The benefits of math and geometry https://t.co/X2vqYFa8HY
13 RT @pgliljedahl: There is now a free book study guide available for Building Thinking Classrooms in Math #ThinkingClassroom . You can get i‚Ä¶
14 Horse Lover's Math's latest newsletter is out now offering a FREE #horsemath DL and links to fun, #distancelearning content for kids who love #horses https://t.co/ZcaMjdB7SU #homeschool #educationrevolution #selfdirectededucation #ponyhour #horselover #horselife #mathforkids https://t.co/al6cyoDfEC
15 @MATHHOFFA yo Math what happened to that record you were gonna drop.. I think it went like ‚ÄúFriday Thank God it‚Äôs Friday‚Äù? (That‚Äôs all I remember from the snippet)
16 I‚Äôm assuming someone did their math wrong because I don‚Äôt think single 19-year-olds are frequently allowed to adopt newborns but I did not need this today!!
17 Putangina hindi pa pala ako tapos sa math üò≠üò≠
18 RT @JenniferCPara: S√≥ eu que acho que o truco estraga a festa??
19 RT @OutContextCerro: https://t.co/xFsGQA6yy2
20 @beamarialc @du_falima Vc n vai se cagar de medo se estiver dormindo
stonks
21 The risk I took was calculated, but man, am I bad at math. https://t.co/F4TP7zzNQu
22 RT @kurtababy: kurapika is NOT a 2D character. it's an emotion. he's the reason i wake up in the morning. he's what i think about in every‚Ä¶
23 If you believe the economy is essential to your survival and the coronavirus is a threat to the economy, then your priority is eradicating the coronavirus.  Simple math.
#VoteBiden
24 I have three assignments one for math and one for Ap lit and one for economics which one should I start with ?
25 Not to say anything bad about @MZHemingway ... Her Reporting is on par, what's the word "math geeks/nerds" use?  Ratio... no... "To say something is so much..." Wow I'm going incognizant in my brain function ... @MarkDice + @MZHemingway = @brianstelter wow i'm so lost ;) ü§î https://t.co/AsOwCcgXaS
26 elle do your shit list:
- bio lesson questions
- bio cpt due thursday (pick topic, research, google slides+ voiceover)
- math unit 5 lessons 1-6 hw questions
- math unit review
- math unit 5 assignment (mon/tues)
- math cpt (wed)
- watch video lessons for math
- print bio
27 RT @HamillHimself: People in my replies are telling me that because we gained an hour, 2020 is actually 60 minutes longer. Math was never m‚Ä¶
28 POURQUOI J'AI 18 DE MOYENNE EN MATH ALORS QUE JE COMPRENDS RIEN DE RIEN
29 LA IL EST 1H28  DEMAIN JE ME L√àVE A 6H ET JE SUIS EN TRAIN DE FINIR MES MATH MAIS SINON TRQL SA PASSE üò§
30 Hume was like ‚Äúmath is made up and we can‚Äôt trust it‚Äù
31 Also, for posterity's sake, I only realized today was daylight savings time when I was woken up precisely at the moment the clocks changed over from a nightmare in which I failed a math test (I'm an adult??? I have a job??)

So that's how high my anxiety is this nov1
32 @JAEHEESUPPORTER this also works for anime and manga
33 @_cagata_ To pensando em entrar no omegle kakskskksksks
34 @athein1 R have cast 3385k, so if a 650k margin is necessary, D have to cast 4035k, and there are 5303k registered Democrats in the state. What‚Äôs wrong with my math?
35 √ßa ft 30 minutes que j'bloque en math ptn j'comprends rien √ßa m'soule j'deviens folle j'vais p√©ter un c√¢ble
36 RT @mpvaniersel: More #pathfinding: Added "greedy" option. Faster, but doesn't always find shortest path.

"Greedy" makes stepping away fr‚Ä¶
37 um wait i have math tmr fack
38 RT @HamillHimself: People in my replies are telling me that because we gained an hour, 2020 is actually 60 minutes longer. Math was never m‚Ä¶
39 @JoshAllenGOD Yea. Your beloved Buffalo bills have a -1 point differential through 6 games. Unless my math is wrong.
40 @HaylieRocha kindly hmu for math test help at a small fee
41 NASA o crl
Tiro foto com meu mundo eu mesmo https://t.co/oIWmvQgkeR
42 RT @ValaAfshar: The benefits of math and geometry https://t.co/X2vqYFa8HY
43 @ArianaGrande gave us a math problem that wasn‚Äôt even a carry the one and I still had to think about it. üòÇ
44 RT @chiemin123: 1000„Éï„Ç©„É≠„Éº„ÉØ„ÉºÈÅîÊàê„Åß„ÅôÔºÅ

ÁöÜÊßò„ÄÅÊÑüË¨ù„Åß„ÅôÔºÅ

Ë®òÂøµ„Ç§„Éô„É≥„Éà„ÇÇ„Åó„Å¶„ÅÑ„Åç„Åæ„Åô„Å≠ÔºÅ
45 tw/ math
-
-
-
-
-
who can help me with math omg pls
46 „Çè„Åã„Çä„ÅøÊ∑±„Åó
B„ÅØÂèñ„Çä„Åü„ÅÑ„Å™„ÅÅ‚Ä¶

#Peing #Ë≥™ÂïèÁÆ± https://t.co/bNckKDLpz8
47 @JawnySack Most suck at math hence they suck at life
48 @StarseedTiffany ü§Ø

Well shit....I coulda helped with Math...
49 John Ivison: The math of saving lives ‚Äî Canada's drug battle leaves patients caught in the middle https://t.co/r7lCj3Qjdd

Need to wait 15 minutes before grabbing more

In [18]:
math_search2 = text_query_to_df(text_query, count)

In [19]:
math_search3 = text_query_to_df(text_query, count)

check for duplicates between pulls

In [21]:
for post in math_search2['text']:
    if post in math_search3['text']:
        print (post)

In [24]:
math_search4 = text_query_to_df(text_query, count)

In [25]:
for post in math_search3['text']:
    if post in math_search4['text']:
        print(post)

In [26]:
math_search5 = text_query_to_df(text_query, count)

In [27]:
for post in math_search4['text']:
    if post in math_search5['text']:
        print(post)

In [28]:
math_search6 = text_query_to_df(text_query, count)

In [29]:
for post in math_search5['text']:
    if post in math_search6['text']:
        print(post)

In [30]:
math_search7 = text_query_to_df(text_query, count)

In [31]:
for post in math_search6['text']:
    if post in math_search7['text']:
        print(post)

In [32]:
math_search8 = text_query_to_df(text_query, count)

In [33]:
for post in math_search7['text']:
    if post in math_search8['text']:
        print(post)

In [34]:
math_search9 = text_query_to_df(text_query, count)

In [35]:
for post in math_search8['text']:
    if post in math_search9['text']:
        print(post)

In [36]:
math_search10 = text_query_to_df(text_query, count)

In [37]:
for post in math_search9['text']:
    if post in math_search10['text']:
        print(post)

Put 3,000 tweets in one df and pickle it

In [38]:
math = pd.concat([math_search, math_search2, math_search3, 
                  math_search4, math_search5, math_search6, 
                  math_search7, math_search8, math_search9, 
                  math_search10])
math.shape

(3000, 7)

In [39]:
math.to_pickle('og_math_twitter_post.pkl')

## Get some more data

In [6]:
math_search11 = text_query_to_df(text_query, count)

In [7]:
math_search12 = text_query_to_df(text_query, count)

In [8]:
for post in math_search11['text']:
    if post in math_search12['text']:
        print(post)

In [9]:
math_search13 = text_query_to_df(text_query, count)

In [10]:
for post in math_search12['text']:
    if post in math_search13['text']:
        print(post)

In [11]:
math_search14 = text_query_to_df(text_query, count)

In [12]:
for post in math_search13['text']:
    if post in math_search14['text']:
        print(post)

In [13]:
math_search15 = text_query_to_df(text_query, count)

In [14]:
for post in math_search14['text']:
    if post in math_search15['text']:
        print(post)

In [15]:
math_search16 = text_query_to_df(text_query, count)

In [16]:
for post in math_search15['text']:
    if post in math_search16['text']:
        print(post)

In [17]:
math_search17 = text_query_to_df(text_query, count)

In [18]:
for post in math_search16['text']:
    if post in math_search17['text']:
        print(post)

In [19]:
math_search18 = text_query_to_df(text_query, count)

In [20]:
for post in math_search17['text']:
    if post in math_search18['text']:
        print(post)

In [21]:
math_search19 = text_query_to_df(text_query, count)

In [22]:
for post in math_search18['text']:
    if post in math_search19['text']:
        print(post)

In [23]:
math_search20 = text_query_to_df(text_query, count)

In [24]:
for post in math_search19['text']:
    if post in math_search20['text']:
        print(post)

In [25]:
math2 = pd.concat([math_search11, math_search12, math_search13, 
                  math_search14, math_search15, math_search16, 
                  math_search17, math_search18, math_search19, 
                  math_search20])

In [26]:
math2.to_pickle('og2_math_tweets.pkl')

In [29]:
#3000 is too many, it didn't work
#try 1000
math_search3 = text_query_to_df(text_query, 1000)

In [31]:
math_search3.head()

,datetime,username,location,tweet_id,num_favorites,num_retweets,text
0,2020-11-05 05:59:13,rbldblr,"Compostela, Davao, Philippines",1324229763993489408,0,0,unsa kahay feeling aning mga bright sa math no...
1,2020-11-05 05:59:11,sendloveeeee,paypal.me/crlnsphrpl,1324229757915947008,0,31,RT @carat_premiums: ‚Äº SALE ‚Äº SALE ‚Äº SALE ‚Äº\nAV...
2,2020-11-05 05:59:11,naka_math,ÊªãË≥ÄÁúå,1324229755139362816,0,185,RT @MahjongSoul_JP: „Äê„Å´„Åò„Åü„Åæ„Äë\nÈõÄÈ≠ÇÂÖ¨ÂºèÁï™ÁµÑ„Äå„Å´„Åò„Åü„Åæ„Äç\nÊòéÊó•11...
3,2020-11-05 05:59:11,Ms_JmeK,"California, USA",1324229754661138432,0,1787,RT @gelliottmorris: The math in PA is REALLY s...
4,2020-11-05 05:59:08,KaliKross,"Los Angeles, CA",1324229744376737794,0,0,To think: It all comes down to a state that pr...

In [32]:
#In the future I would write a function that does this
time.sleep(1000)
math_search4 = text_query_to_df(text_query, 1000)
time.sleep(1000)
math_search5 = text_query_to_df(text_query, 1000)

In [33]:
math_search4.shape, math_search5.shape

((1000, 7), (1000, 7))

In [34]:
math3 = pd.concat([math_search3, math_search4, math_search5])

In [35]:
math3.to_pickle('og3_math_tweets.pkl')